* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.todolist {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text {
    font-size: 26px;
    font-weight: bold;
}

.search {
    width: 595px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #6C63FF;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    gap: 20px;
}

.search-form {
    position: relative;
}

.search-block {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: center;
}

.search-button {
    border: none;
    background: none;
}

.search-block-alignment {
    position: absolute;
    width: 35px;
}

.all {
    width: 93px;
    height: 38px;
    border-radius: 5px;
    background-color: #6C63FF;
    border: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 5px;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px 0px #6C63FF;
}

.all:hover {
    width: 93px;
    height: 38px;
    border-radius: 5px;
    background-color: #534CC2;
    border: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 5px;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px 0px #6C63FF;
    border: 2px solid #6C63FF;
}

.option-all {
    background-color: white;
    color: #6C63FF;
    text-transform: capitalize;
    border: 1px solid #6C63FF;
}

.button-dark {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #6C63FF;
    box-shadow: 0px 0px 4px 0px rgba(108, 99, 255, 1);
}

.button-dark:hover {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #534CC2;
    box-shadow: 0px 0px 4px 0px #6C63FF;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    width: 520px;
    border: 1px solid #6C63FF;
    opacity: 0.5;
}

.click {
    width: 28px;
    height: 28px;
    border: 1px solid #6C63FF;
    color: #6C63FF;
}

p {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ellipse {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #6C63FF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px #6C63FF;
    cursor: pointer;
}

.ellipse:hover {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background-color: #534CC2;
    border: 2px solid #6C63FF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px #6C63FF;
}

.content {
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.add {
    width: 800px;
    display: flex;
    justify-content: end;
}

.pen path:hover {
    stroke: #6C63FF;
}

.basket path:hover {
    stroke: #E50000;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modal {
    width: 500px;
    height: 289px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode .modal {
    background: #444;
    color: white;
}
.name-note{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal h3 {
    font-size: 24px;
}

.modal-input {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    font-size: 16px;
    width: 440px;

}

body.dark-mode .modal-input {
    background: #555;
    color: white;
    border-color: #6C63FF;
}

.modal-buttons {
    gap: 10px;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.cancel-btn {
    background: WHITE;
    color: #6C63FF;
    width: 110px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(108, 99, 255, 1);
}

body.dark-mode .cancel-btn {
    background: #555;
    color: white;
}

.add-btn {
    background: #6C63FF;
    color: white;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.add-btn:hover {
    background: #534CC2;
}

/* Скрытие иконок */
.icon-sun {
    display: none;
}

body.dark-mode .icon-moon {
    display: none;
}

body.dark-mode .icon-sun {
    display: flex;
}

body.dark-mode .button-dark {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #534CC2;
    box-shadow: 0px 0px 4px 0px #6C63FF;
}